name: Run tests

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
    - uses: actions/checkout@v2
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - run: make test
